<ActionBar class="action-bar">

    <GridLayout rows="auto" columns="*">
            <!-- <Label row="0" horizontalAlignment="left" text="Center me" class="center"></Label>
            <Label row="0" horizontalAlignment="right" text="Pull me to the right" class="right"></Label> -->
            <Label row="0" class="fas" style="font-size: 20em;" text="&#xf07a;" horizontalAlignment="left"></Label>
            <Label class="action-bar-title" text="Your Order"></Label>
    </GridLayout>

</ActionBar>

<GridLayout class="page">
    <!-- Add your page content here -->
</GridLayout>
