<StackLayout class="main" verticalAlignment="top">

    <GridLayout class="anim-cover" rows="auto" columns="*">
        <Image row="0" col="0" marginTop="-40" height="180" stretch="aspectFill"
            class="card-img" [src]="item.cover"></Image>
        <Label row="0" col="0" verticalAlignment="top" horizontalAlignment="left"
            (tap)="onCloseTap()" fontSize="24" text="&#xf060;" class="fa close">
        </Label>
    </GridLayout>

    <ScrollView class="anim-images" orientation="horizontal">
        <StackLayout orientation="horizontal" class="">
            <GridLayout *ngFor="let imageString of item.images" rows="auto"
                columns="*">
                <Image class="card-img-thumb" row="0" col="0" [src]="imageString"
                    stretch="aspectFill"></Image>
                </GridLayout>
        </StackLayout>
    </ScrollView>

    <GridLayout rows="auto,auto,auto,auto" columns="auto" class="content">

        <GridLayout *ngIf="item" class="anim-itemInfo" marginTop="15" row="1"
            width="100%" columns="auto,*" rows="auto,auto,auto,auto"
            verticalAlignment="center">
            <Label [text]="categoryIcon() " row="0" col="0" rowSpan="2"
                [backgroundColor]="item.categoryTag" class="fa category-icon"></Label>
            <Label row="0" col="1" class="item-name" textwrap="true"
                verticalAlignment="bottom" horizontalAlignment="left" [text]="item.name"></Label>

            <Label row="1" col="1" class="item-category" textwrap="true"
                verticalAlignment="top" horizontalAlignment="left" [text]="item.category"></Label>
            <Label row="2" col="1" class="item-category" [text]="'Average Rate:' + item.rating "></Label>


            <StackLayout row="3" col="1" orientation="horizontal">
                <Label class="fa rate" text="&#xf005;"></Label>
                <Label class="fa rate" text="&#xf005;"></Label>
                <Label class="fa rate" text="&#xf005;"></Label>
                <Label class="fa rate" text="&#xf005;"></Label>
                <Label class="fa rate" text="&#xf123;"></Label>
            </StackLayout>


        </GridLayout>

        <StackLayout class="line anim-likes" row="2" width="100%" marginTop="10"></StackLayout>

        <GridLayout *ngIf="item" columns="auto,*,auto,auto" rows="auto"
            marginTop="5" width="100%" row="3" class="anim-likes">
            
            <GridLayout col="0" rows="auto" columns="auto,auto" (tap)="toggleLike(item)">
                <!-- <Label col="0" row="0" #like [class]="item.isLike ? 'fa like-icon liked-active' : 'fa like-icon default'"
                    [text]="item.isLike ? '&#xf164;':'&#xf087;'"></Label> -->
                <Label col="0" row="0" class="layout" [text]="item.price + ' TK'"></Label>
            </GridLayout>

            <StackLayout col="3" orientation="horizontal">
                <Label ref="" class="like-icon layout fa" text="&#xf217;"></Label>
                <Label class="layout" text="Add to cart" (tap)="addCart(item.id)" [ngStyle]="{'color': isCarted? 'green' : 'red'}"></Label>
            </StackLayout>

        </GridLayout>
    </GridLayout>

    <StackLayout width="100%" class="lineBreak anim-likes"></StackLayout>

    <Gridlayout rows="auto,*,auto" class="anim-content" marginTop="15">

        <GridLayout row="0" rows="auto" marginBottom="5" columns="auto, auto" class="content">
            <Label col="0" text="&#xf02c;" class="fa description-icon"
                textWrap="true"></Label>
            <Label col="1" class="description-text" text="Description"
                textWrap="true"></Label>
        </GridLayout>

        <StackLayout row="1" class="content">
            <ScrollView>
                <StackLayout verticalAlignment="top" horizontalAlignment="left"
                    *ngIf="item">
                    <Textview editable="false" class="description-value"
                        textWrap="true" [text]="item.description">
                    </Textview>
                </StackLayout>
            </ScrollView>
        </StackLayout>

        <GridLayout class="navBottom" height="50" width="100%" row="2" rows="auto"
        columns="*,*,*,*">
    
        <GridLayout [class]="'nav'"
            rows="*,auto" cols="auto" col="0" row="0" width="25%">
            <Image row="0" [class]="'navIcon'"
                [src]="'~/assets/images/navhome.png'" [nsRouterLink]="['/home']"></Image>
        </GridLayout>
    
        <!-- <GridLayout [class]="'nav'" (tap)="onCartTap()"
            rows="*,auto" cols="auto" col="1" row="0" width="25%">
            <Image row="0" [class]="'navIcon'" id="cartImg"
                [src]="'~/assets/images/navcartm.png'" [nsRouterLink]="['/cart']"></Image>
            <Label class="badge badge-warning" id="lblCartCount" [text]="5"></Label>    
        </GridLayout> -->

        <AbsoluteLayout [class]="'nav'" backgroundColor="lightgray" col="1" row="0" width="25%">
            <!-- <Label text="no margin" left="10" top="10" width="100" height="100" backgroundColor="red"></Label> -->
            <Image [class]="'navIcon'" left="30" top="12" id="cartImg" [src]="'~/assets/images/navcartm.png'" [nsRouterLink]="['/cart']"></Image>
            <Label *ngIf="totalCartedItem>0" class="badge badge-warning" left="37" width="20" id="CartCount" [text]="totalCartedItem" backgroundColor="#47cf73"></Label>
            <!-- <Label text="margin='30'" left="10" top="10" margin="30" width="100" height="90" backgroundColor="green"></Label> -->
        </AbsoluteLayout>
    
        <GridLayout [class]="'nav'"
            rows="*,auto" cols="auto" col="2" row="0" width="25%">
            <Image row="0" [class]="'navIcon'"
                [src]="'~/assets/images/navorders.png'"></Image>
        </GridLayout>
    
        <GridLayout [class]="'nav'"
            rows="*,auto" cols="auto" col="3" row="0" width="25%">
            <Image row="0" [class]="'navIcon'"
                [src]="'~/assets/images/navus.png'"></Image>
        </GridLayout>
    </GridLayout>

    </Gridlayout>

</StackLayout>